body {
  background: #4e5052;
}

#pebble, #spark {
  text-align: center;
}

img {
  width: 360px;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover, a:focus {
  text-decoration: none;
  color: #ddd;
}

h2 {
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  font-weight: 100;
}


@media (min-width: 740px) {
  #pebble, #spark {
    float: left;
    height: 300px;

    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
  }

  #pebble {
    left: 0;
    right: 50%;
  }

  #spark {
    left: 50%;
    right: 0;
  }
}


@media (max-width: 739px) {
  .hero {
    width: 100%;
    padding-top: 50px;
  }
}
